{% extends 'base.html' %}
{% load static %}
{% csrf_token %} 
{% block content %}
<dl class="details">
	{% for event in event_set %}
	<div class="event">
	  <dt>{{ event.event_name }}</dt>
	  <dd>{{ event.event_descp }}</dd>
	  <dd>{{ event.event_link }}</dd>
	  <dd>{{ event.event_time }}</dd>
	  <dd>{{ event.event_date }}</dd>
	  <dd>{{ event.event_location }}</dd>
	  
	</div>
	{% endfor %}
  </dl>  
  {% if event_exists %}
	<script>
	alert("Event already exists!");
	</script>
	{% endif %}
{% endblock %}